body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    background-color:#4d4e4d;
}

#main-heading {
   font-family: "Lobster";
   font-size: 40px;
   color: #ffffff;
}

.text-block, .text-block:focus {
    width: 900px;
    background-color: rgb(88, 87, 87);
    color: #ffffff;
    font-size: 15pt;
    font-family: "Raleway";
}


.bottom-section {
  margin-top: 10pt;
  margin-left: 4pt;
}


#btn-save {
  height: 40px;
  width: 70px;
  color: white;
  background-color: #1d1c1c;
}

#btn-load {
  height: 40px;
  width: 70px;
  color: #000000;
  background-color: #d9e625;
}

#input-lookup {
  height: 40px;
  width: 200px;
}

#btn-lookup {
  height: 40px;
  width: 100px;
  color: #000000;
  background-color: #d9e625;
}

.labels {
  font-size: 18pt;
  color: white;
}

/* Horizontal Scroll Bar */
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }
  
div.scrollmenu a:hover {
    background-color: #777;
  }

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #46ce10; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #46ce10; 
  }